<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Welcome Page </title>
</head>
<body>
    <h1> Hello World!! </h1>
    <div>
        [[${list}]]
        <table>
            <tr>
                <th>번호</th>
                <th>이름</th>
                <th>이메일</th>
                <th>가입일</th>
                <th>최종로그인</th>
            </tr>
            <tr th:if=${list.isEmpty()}>
                <td colspan="5">데이터가 하나도 없음</td>
            </tr>
            <tr th:each="account: ${list}" style="text-align:center;">
                <td th:text="${account.userid}"></td>
                <td th:text="${account.username}"></td>
                <td th:text="${account.email}"></td>
                <td th:text="${#dates.format(account.rdate, 'yy.MM.dd a hh:mm:ss')}"></td>
                <!--<td th:text="${address.rdate}"></td>-->
                <td th:text="${#dates.format(account.lastLogin, 'yy.MM.dd a hh:mm:ss')}"></td>
            </tr>
        </table>
    </div>
</body>
</html>